@using MVCTarea.Models
@model List<Author>

@{
    ViewData["Title"] = "Authors";
}


<h1>@ViewData["Title"]</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Birth</th>
            <th>Death</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@item.DateOfBirth</td>
            <td>@item.DateOfDeath</td>
            <td>@item.CountryOfBirth</td>
        </tr>
    }
    </tbody>
</table>