@using MVC.Models
@model Author

@{
    ViewData["title"] = "Add author";
}

<h1>@ViewData["title"]</h1>

@using(Html.BeginForm("Save", "Author", Model))
{
    <div class="form-gruop">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new {@class = "form-control"})
        @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
    </div>
    <div class="form-gruop">
        @Html.LabelFor(model => model.DateOfBirth)
        @Html.TextBoxFor(model => model.DateOfBirth, null, new {@class = "form-control"})
    </div>
    <div class="form-gruop">
        @Html.LabelFor(model => model.DateOfDeath)
        @Html.TextBoxFor(model => model.DateOfDeath, null, new {@class = "form-control"})
    </div>
    <div class="form-gruop">
        @Html.LabelFor(model => model.CountryOfBirth)
        @Html.TextBoxFor(model => model.CountryOfBirth, null, new {@class = "form-control"})
    </div>
    <hr>
    <input type="submit" name="Save" class="btn btn-success" value="Save"/>
}